<h1 mat-dialog-title>Add Card</h1>
<div mat-dialog-content>
  <form action="" [formGroup]="userFormAddGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [disabled]="userFormAddGroup.invalid" (click)="userAdd()">Add</button>
</div>
