<h1 mat-dialog-title>Add Card</h1>
<div mat-dialog-content>
  <form action="" [formGroup]="commentsUpdateForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <input formControlName="id" type="hidden">
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Body</mat-label>
      <input matInput formControlName="body">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [disabled]="commentsUpdateForm.invalid" (click)="commentsUpdate()">Update</button>
</div>
