<div class="container-xxl comments-list">
  <div class="comments-list-add-btn">
    <button (click)="openCommentDialog()">Add</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Body</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comment of comments ; let i=index">
      <td>{{comment.id}}</td>
      <td>{{comment.name}}</td>
      <td>{{comment.email}}</td>
      <td>{{comment.body}}</td>
      <td class="comments-form-update-btn">
        <button  (click)="openCommentUpdateDialog(comment)" >
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
        </button>
      </td>
      <td class="comments-form-delete-btn">
        <button>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete" (click)="deleteComments(comment.id,i)"></mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


