@import '../../assets/styles/table';

.users-list {
  &-add-btn {
    margin-top: 20px;
    display: grid;
    justify-content: end;

    button {
      width: 150px;
      height: 40px;
      font-size: 20px;
      font-weight: bolder;
      background: #D3D3D3;
      outline: none;
      border: 1px solid #3e94ec;
      border-radius: 5px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.users-form-update-btn {
  text-align: center;

  button {
    border: none;
  }

  .users-form-delete-btn {
    justify-content: center;

    button {
      border: none;
      background: none
    }
  }
}

