<div class="container-xxl albums-list">
  <div class="albums-list-add-btn">
    <button (click)="openDialog()">Add</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let album of albums; let i =index">
      <td>{{album.id}}</td>
      <td>{{album.userId}}</td>
      <td>{{album.title}}</td>
      <td class="albums-form-update-btn"><button (click)="openUpdateAlbumDialog(album)"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
      </td>
      <td class="albums-form-update-btn"><button (click)="deleteAlbum(album.id, i)"><mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


